/*h2 {
	position: fixed;
	top: 15%;
	left: 40%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
}
#quiz {
	position: fixed;
	top: 30%;
	left: 30%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}
#quiz {
	position: fixed;
	top: 43%;
	left: 30%;
	font-family: 'Montserrat', sans-serif;
	line-height: 1rem;
}
input {
	line-height: 0.5rem;
}
img {
	position: fixed;
	top: 40%;
	left: 50%;
}*/

/*<div id="questions_wrapper">
	<span class="question">What does a cat spend a third of its time awake doing?</span><br>
	<div id="answer_holder">
				<input type="radio" name="option" class="option"
		value="0"><span class="answer"></span>Eating<br>
				<input type="radio" name="option" class="option"
		value="1"><span class="answer"></span>Cleaning itself<br>
				<input type="radio" name="option" class="option"
		value="2"><span class="answer"></span>Playing<br>
				<input type="radio" name="option" class="option"
		value="3"><span class="answer"></span>Watching TV<br>
		<img src="Img-Vd/sleepingcatanimation-30.gif" alt="cat1" width="170rem" height="140rem">
